<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to the Text Analyzer. Enter the text below:</h1>
<form action="/analyze" method="get">
    <textarea name="text"></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuation <br>
    <input type="checkbox" name="fullcaps"> UPPER CASE <br>
    <input type="checkbox" name="newlineremover"> New Line Remover <br>
    <button>Analyze Text</button>
</form>
</body>
</html>